@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap');

body {
  font-family: 'Kaisei Opti', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
